/* type
-------------------------------------------------------------------------------*/

.logo-type {
	font-family: @logoFontFamily;
	line-height: 100%;
	text-transform: uppercase;
}

.logo {
	position: absolute;
	top: 40%;
	margin-top: -100px;
	width: 100%;
	color: @logoLight;
	
	h1 {
		font-size: 200px;
		line-height: 75%;
		margin: 0;
	}
	
	h2 {
		font-size: 16px;
		margin: 0;
	}
	
}